@mixin portlet-view {

  .portlet-view {
    padding: 12px 20px 15px 20px;
    background-color: #fff;
  }

  .portlet-view > .portlet-title {
    padding: 0;
    min-height: 48px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    border-radius: 4px 4px 0 0;
  }

  .portlet-view > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase !important;
    font-weight: 700 !important;
  }
  .portlet-view > .portlet-title > .actions {
    float: right;
    display: inline-block;
  }
}